.small-index {
	position: absolute;
	font-size: 10px;
    top: 2;
	left: 2;
}
.btn-title {
	position: relative;
}
.btn-square {
	position: relative;
	border-radius: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-square:hover .btn-title {
	color: white;
}
