html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #dae0e6;
}
#service-general {
    padding-top: 10px;
    padding-bottom: 6px;
}

.text-left {
    text-align: left !important;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.load-control {
    height: 35px;
    background-color: lightgray;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.card-body {
    padding: 0px;
    /* -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; */
}
.player-field {
    display: inline-block;
    padding: 10px;
}

.spinner-wrapper {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* .btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active, .btn-outline-dark.active {
    color: #fff;
    background-color: #16424d;
} */
.btn-title {
    background-color: white;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.btn-vote {
    width: 120px;
    margin-left: 2px;
}

.auto-play {
    margin-left: 10px;
}

.collapsed .fa-chevron-down {
    transition: .3s transform ease-in-out;
    transform: rotate(90deg);
}
.fa-chevron-down {
    transition: .3s transform ease-in-out;
}

.icon {
    font-size: 25px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.fa-android {
    font-size: 28px;
}
.fa-desktop {
    font-size: 24px;
}

.icon:hover {
    opacity: 0.7;
    color: black;
    text-decoration: none;
}

.forum-link {
    font-size: 13px;
    text-decoration: underline;
    float: right;
}

.rating {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
}
  
.like {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}
.dislike  {
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    transform: rotate(90deg);
}

.dislike:hover {
    transition: all .1s ease-in-out;
    transform: rotate(90deg) scale(1.1);
}

.like:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
}

.like.active-thumb {
    color: rgb(0, 175, 0);
}
.dislike.active-thumb {
    color: rgb(233, 0, 0);
}

.media-link {
    font-size: 12px;
    float: right;
    cursor: pointer;
    color: rgb(87, 87, 87);

}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    margin: 40px;
    text-align: center;
 }