html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.text-left {
    text-align: left !important;
 }


.spinning {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
 }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide-loader{
    display: none;
}

.player-table {
    display: inline-block;
    margin: 3px;
}
table {
    border-collapse: separate !important;
    border-spacing: 0;
}

.card-body.text-center {
    padding-top: 4px;
    padding-bottom: 4px;
}

table {
    background: #d4d4d4;
    border: solid #ccc 2px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 3px #ccc;
    -moz-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;
}
table:hover {
    border: solid rgb(68, 68, 68) 2px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 0 3px 3px #ccc;
    -moz-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.picker {
    width: 100px; 
    display: inline-block;
}

.btn-vote {
    width: 25%;
    margin-left: 2px;
}

.auto-play {
    margin-left: 10px;
}
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.btn-circle {
    width: 55px;
    height: 60px;
    text-align: center;
    margin-bottom: 60px;
    padding: 0px 6px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 25px;
  }

.fa.fa-chevron-down.pull-right {
    transition: .3s transform ease-in-out;
}
.collapsed .fa {
    transform: rotate(90deg);
}

.fa.icon {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
}
  
  /* Add a hover effect if you want */
.fa.icon:hover {
    opacity: 0.7;
}