#pagination {
    width: 960px;
    margin: 0 auto;
    height: 30px;
    text-align: center;
    padding-bottom: 10px;
    background-color: 
    #D03800;
    padding-top: 15px;
}
    
    
#pagination .page-numbers {
    color: 
    white;
    text-decoration: none;
    padding: 10px;
    /* font-family: "PT Sans" sans-serif; */
}
    
#pagination .page-numbers:hover {
    color: #d03800;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
    
#pagination span.page-numbers.current {
    background-color: 
    white;
    color: 
    #F15755;
    /* font-family: "PT Sans" sans-serif; */
    text-decoration: none;
}