.base-table {
    background: #f0fdf2;
    border: solid #ccc 1px;
    border-collapse: separate !important;
    border-spacing: 0;
    border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
    -webkit-box-shadow: 0 3px 3px #ccc;
    -moz-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;
}
.base-table:hover {
    border: solid rgb(68, 68, 68) 1px;
    border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;

    -webkit-box-shadow: 0 3px 3px #ccc;
    -moz-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.control-cell {
    padding: 0px;
    background: #deebe0;
}

.player-table {
    display: inline-block;
    margin: 3px;
}

.hole {
    position: absolute;
    margin-top: 4px;
    top: 0;
    left: 4px;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    box-shadow: 0px -1px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0px -1px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px -1px  rgba(0,0,0,0.6);
    -o-box-shadow: 0px -1px  rgba(0,0,0,0.6);
}

.player-table .main-script {
    font-size: 20px;
    font-style: bold;
    margin-top: -5px;
    margin-bottom: 2px;
}

.player-table .upper-note {
    font-style: italic;
    font-size: 12px;
    margin-top: 0px;
    color: rgb(92, 92, 92);
}
.player-table .lower-note {
    font-size: 14px;
    margin: 3px;
}

.player-table h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.player-table .fa-play, .player-table .fa-pause {
    font-size: 15px;
    width: 15px;
}

.player-table .date {
    vertical-align: bottom;
    display: table-cell;
    font-size: 10px; 
    padding-left: 5px;
    color: rgb(92, 92, 92);
}

.card-body .text-center {
    padding-top: 4px;
    padding-bottom: 4px;
}

.vote-label:hover {
  transition: all .1s ease-in-out;
  transform: scale(1.2);
}
