/* Adaptive row height for small device */
@media screen and (max-width: 575.98px) {
  .list-group{
    max-height: 100px;
  }
  .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  #top-message {
    font-size: 14px;
  }
  #big-service-name {
    font-size: 24px;
  }
  .player-table .main-script {
    font-size: 17px;
  }
  .player-table {
    font-size: 14px;
  }
}

@media screen and (min-width: 576px) {
  .navbar {
    position: relative;
    /* display: inline; */
  }
  #auth-btn-wrapper {
    position: absolute; 
    right: 5px;
    top: 4px;
  }
}