.font-href {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    color: royalblue;
}

.btn-slim {
    padding: 0px 10px;
}

.clickable-font {
    cursor: pointer
}

#uname-input {
    border-radius: 2px;
}
.bold-line {
    font-weight: bold;
}  

.spinning {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 33px;
    height: 33px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide-loader{
    display: none;
}
